.field {
  font-size: 1.8rem;

  .query,
  .indicator {
    display: inline-block;
  }

  .query {
    white-space: pre-line;
  }

  .indicator {
    position: relative;
    bottom: -2px;
    width: 0.7rem;
    height: 2px;
    animation: 1.02s step-end 0s infinite normal none running
      var(--terminal-indicator-animation);
  }
}

@keyframes blink-light {
  0%,
  100% {
    background-color: var(--color-grey300);
  }
  50% {
    background-color: transparent;
  }
}

@keyframes blink-dark {
  0%,
  100% {
    background-color: var(--color-white100);
  }
  50% {
    background-color: transparent;
  }
}
