.terminal {
  width: 90vw;
  max-width: 900px;
  height: 550px;
  border-radius: 8px;

  .toolbar {
    display: flex;
    align-items: center;
    height: 40px;
    padding: var(--space-s);
    background-color: var(--color-terminal-toolbar);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .actions {
      .btn {
        width: 16px;
        height: 16px;
        border-radius: 50%;

        &[data-variant='red'] {
          background-color: var(--color-red200);
        }

        &[data-variant='yellow'] {
          background-color: var(--color-yellow100);
        }

        &[data-variant='green'] {
          background-color: var(--color-green200);
        }
      }
    }
  }

  .window {
    height: calc(100% - 40px);
    padding: var(--space-l);
    overflow: auto;
    overflow-wrap: break-word;
    background-color: var(--color-terminal-window);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    & blockquote {
      padding: 0 1.5em;
      border-left: 0.35em solid var(--color-grey100);
    }

    & h1 {
      margin-bottom: var(--space-xs);
      font-size: 2.5em;
      color: var(--color-green100);

      &:before {
        content: '# ';
      }
    }

    & p {
      margin-bottom: var(--space-s);
      font-size: 1.8rem;

      & a {
        color: var(--color-green200);
        text-decoration: underline;
      }
    }

    & code {
      padding: 0.2em 0.4em;
      background-color: var(--color-inline-code);
      border-radius: 6px;
    }

    .history {
      & p,
      & ul,
      & li {
        margin-bottom: var(--space-xs);
        font-size: 1.8rem;
      }

      .history-input {
        color: var(--color-red100);

        &.valid {
          color: var(--color-green100);
        }
      }
    }

    .help {
      display: inline-block;

      & p {
        overflow: hidden;
        white-space: nowrap;
        border-right: 0.15em solid var(--color-orange100);
        animation:
          typing 2.5s steps(40, end),
          blink-caret 0.75s step-end infinite;
      }
    }

    .field {
      display: flex;
      column-gap: 10px;
      margin-bottom: var(--space-xxs);
      font-size: 1.8rem;

      .query {
        display: inline-block;

        .arrow {
          color: var(--color-green100);
        }

        .directory {
          color: var(--color-blue100);
        }
      }

      .input {
        flex: 1;
        font-family: inherit;
        font-size: 1.8rem;
        color: var(--color-red100);
        caret-color: var(--color-terminal-indicator);
        background-color: inherit;
        border: none;

        &.valid {
          color: var(--color-green100);
        }

        &:not(:focus) {
          border-left: 0.8rem solid var(--color-terminal-indicator);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .tabs {
    display: grid;
    grid-template-columns: auto auto auto auto;

    .tab {
      & a {
        display: block;
        width: 100%;
        padding: var(--space-xs);
        font-size: 1.8rem;
        text-align: center;

        &[aria-current='page'] {
          background-color: var(--color-white200);
        }
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-orange100);
  }
}
