<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir or 'ltr' }}" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta[lang].description }}">
    <title>{{ meta[lang].title }}</title>

    <link rel="stylesheet" href="/styles/main.css">

    {% set js %}
    {% include "src/_assets/js/theme-preference.js" %}
    {% endset %}

    {% set js %}
    {% include "src/_assets/js/translator.js" %}
    {% endset %}

    {% set js %}
    {% include "src/_assets/js/command-line.js" %}
    {% endset %}
    <script type="module" defer>{{ js | safe }}</script>
  </head>
  <body>
    <div id="app">
      <div class="terminal">
        {% include "partials/_toolbar.njk" %}
        {% include "partials/_navigation.njk" %}
        <main class="window">
          {{content | safe}}
          {% include "partials/_input.njk" %}
        </main>
      </div>
    </div>
  </body>
</html>
