{
	"lang": "{{ lang }}",
	"dir": "{{ dir or 'ltr' }}",
	"short_name": "{{ meta[lang].title }}",
	"name": "{{ meta[lang].title }}",
	"description": "{{ meta[lang].description }}",
	"orientation": "{{ 'any' }}",
	"scope": "{{ '/' }}",
	"start_url": "{{ '/' }}",
	"theme_color": "{{ '#090d11' }}",
	"background_color": "{{ '#090d11' }}",
	"display": "{{ 'standalone' }}",
	"icons": [
      { "src": "/icon-192.png", "type": "image/png", "sizes": "192x192" },
      { "src": "/icon-512.png", "type": "image/png", "sizes": "512x512" }
  	]
}
