@import './normalize.css';
@import './breakpoints.css';
@import './fonts.css';
@import './vars.css';

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-text);

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-bg);
}

html,
body {
  height: 100%;
}
