@import './normalize.css';
@import './breakpoints.css';
@import './fonts.css';
@import './vars.css';
@import './components/index.css';

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-text);

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  overflow: hidden;
  background-color: var(--color-bg);
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
