html[data-theme='dark'] {
  --color-bg: var(--color-dark100);
  --color-text: var(--color-white100);
  --color-terminal-toolbar: var(--color-dark300);
  --color-terminal-window: var(--color-dark200);
  --color-inline-code: rgba(110, 118, 129, 0.4);
  --color-terminal-indicator: var(--color-white100);
}

html[data-theme='auto'],
html[data-theme='light'] {
  --color-bg: var(--color-white300);
  --color-text: var(--color-grey100);
  --color-terminal-toolbar: var(--color-white200);
  --color-terminal-window: var(--color-white100);
  --color-inline-code: rgba(175, 184, 193, 0.2);
  --color-terminal-indicator: var(--color-grey300);
}

@media (prefers-color-scheme: dark) {
  html[data-theme='auto'] {
    --color-bg: var(--color-dark100);
    --color-text: var(--color-white100);
    --color-terminal-toolbar: var(--color-dark300);
    --color-terminal-window: var(--color-dark200);
    --color-inline-code: rgba(110, 118, 129, 0.4);
    --color-terminal-indicator: var(--color-white100);
  }
}
