<div class="help">
  {{ 'help-command-suggestion' | i18n | markdown | safe }}
</div>
<div class="history"></div>
<div class="field">
  <div class="query">-> kate@me</div>
  <input class="input" type="text">
  </div>
</div>
