<div class="help">
  {{ 'help-command-suggestion' | i18n | markdown | safe }}
</div>
<div class="history"></div>
<div class="field">
  <div class="query">
    <span class="arrow">-></span>
    <span class="directory">kate@me</span>
  </div>
  <input class="input" type="text">
  </div>
</div>
