{% set currentUrl = page.url %}
{% set content = collections["content_" + lang] | eleventyNavigation %}

<nav>
  <ul class="tabs">
    {%- for item in content %}
      <li class="tab">
        <a
          {% if currentUrl === item.url %} aria-current="page" {% endif %}
          href="{{ item.url }}">
            {{ item.title }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>
