<div class="toolbar">
  <div class="actions">
    <button type="button" class="btn" data-variant="red"></button>
    <button type="button" class="btn" data-variant="yellow"></button>
    <button type="button" class="btn" data-variant="green"></button>
  </div>
</div>
